<!DOCTYPE html>
<%- include('../../partials/head') %>

    <body>

        <%- include('../../partials/header') %>
            <main>
                <section class="servicos-lista">
                    <div class="container">
                        <h1>Atualizar Produto</h1>

                        <a href="/adm/produto" class="btn btn-primary mb-2">Lista de produtos</a>

                        <form method="POST" action="/adm/produtos/<%= produtos.id %>?_method=PUT">
                            <div class="mb-3">
                                <label for="" class="form-label">Imagem</label>
                                <input type="file" name="imagem" value="<%= produtos.imagem %>" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Nome</label>
                                <input type="text" name="nome" value="<%= produtos.nome %>" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Preço </label>
                                <input type="number" name="preco" value="<%= produtos.preco %>" class="form-control">
                            </div>
                            <div class="mb-3 form-check">
                                <input name="ativo" type="checkbox" <%=produtos.ativo ? 'checked' : '' %>
                                class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" name="ativo" for="exampleCheck1">Ativo</label>
                            </div>

                            <div class="mb-3">
                                <textarea name="descricao" class="form-control" cols="30" rows="10" placeholder="Descrição do serviço"><%= produtos.descricao %></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </form>
                    </div>
                </section>
            </main>
            <%- include('../../partials/footer') %>

    </body>

    </html>