<!DOCTYPE html>
<%- include('../../partials/head') %>
<link rel="stylesheet" href="/css/admindex.css">

<body>

    <%- include('../../partials/header') %>

    <main>
        <section class="servicos-lista">
            
            <div class="container">
                <h1>Produtos</h1>
                <a href="/adm/produtos/cadastroproduto" class="button cadastrar">Cadastrar</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Imagem</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Preço Venda</th>
                            <th scope="col">Ativo?</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <% produtos.forEach(produto => { %>
                            <tr>
                                <th scope="row">
                                    <%= produto.id %>
                                </th>
                                <td><img class="thumb" src="<%= produto.imagem %>" alt="" width="100px" height="100px"></td>
                                <td>
                                    <%= produto.nome %>
                                </td>
                                <td>
                                    R$ <%= produto.preco %>
                                </td>
                                <td class="ativo active">
                                    <%= produto.ativo ? "Sim" : "Não" %>
                                </td>
                                <td class="buttons">
                                    <a href="/adm/produtos/<%= produto.id %>" type="button"
                                        class="button">Abrir</a>
                                    <a href="/adm/produtos/<%= produto.id %>/editar" type="button"
                                        class="button">Editar</a>
                                    <form action="/adm/produtos/<%= produto.id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="button danger">Excluir</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <%- include('../../partials/footer') %>
    <!-- <script type="text/javascript" src="/js/produtos.js" defer></script> -->
</body>

</html>