<!DOCTYPE html>
<%- include('../../partials/head') %>

<body>

    <%- include('../../partials/header') %>

    <main>
        <section class="servicos-lista">
            <div class="container">
                <h1>Produtos</h1>
                <a href="/adm/produtos/cadastroproduto" class="btn btn-primary mb-5">Cadastrar</a>
                <table class="table table-dark table-striped table-bordered ">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">imagem</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Ativo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% produtos.forEach(produto=> { %>
                        <tr>
                            <th scope="row">
                                <%= produto.id %>
                            </th>
                            <td><img class="thumb" src="/img/produtos/<%= produto.imagem %>" alt="" width="100px" height="100px"></td>
                            <td>
                                <%= produto.nome %>
                            </td>
                            <td>
                                <%= produto.preco %>
                            </td>
                            <td>
                                <%= produto.ativo ? "Habilitado" : "Desabilitado" %>
                            </td>
                            <td>
                                <a href="/adm/produtos/<%= produto.id %>" type="button"
                                    class="btn btn-primary">Abrir</a>
                                <a href="/adm/produtos/<%= produto.id %>/editar" type="button"
                                    class="btn btn-secondary">Editar</a>
                                <form action="/adm/produtos/<%= produto.id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>

                    </tbody>
                </table>



            </div>
        </section>
    </main>

    <%- include('../../partials/footer') %>

</body>

</html>