<!DOCTYPE html>
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/produto.css">

<body>

    <%- include('../partials/header') %>

    <main>
        <div class="titulo">
            <!-- <img src="/img/iconeproduto.svg" alt="Ícone login">
            <h1>PRODUTO</h1> -->
        </div>

        <section class="produto" id="produto">
            <div class="produto-imagens">
                <img src="<%= produto.imagem %>" alt="Mouse 01">
                <img src="<%= produto.imagem %>" alt="Mouse 02">
                <img src="<%= produto.imagem %>" alt="Mouse 03">
                <img src="<%= produto.imagem %>" alt="Mouse 04">
                <img src="<%= produto.imagem %>" alt="Mouse 05">
            </div>
            <div class="produto-info">
                <h4>Vendido e entregue por: NOME | Em estoque</h4>
                <div class="pi-valor">
                    <span><%= produto.preco %></span>
                    <br>
                    <span><%= produto.preco %></span>
                    <p>À vista no PIX com até <b>15% OFF</b></p>
                </div>
                <button>COMPRAR</button>
                <div class="pi-parcelamento">
                    <a data-modal="abrir" href="#">Ver mais opções de pagamento</a>
                </div>
                <p>Fabricante: <b>Digital House</b></p>
                <!-- <div class="pi-similares">
                    <h3>Produtos Similares</h3>
                    <br>
                    <div class="pi-similares-container">
                        <button><img src="/img/seta1.svg" alt=""></button>
                        <div class="pi-similares-items">
                            <div>
                                <img src="/img/mousesml1.jpg" alt="">
                                <br>
                                <span>R$119,90</span>
                            </div>
                            <div>
                                <img src="/img/mousesml2.jpg" alt="">
                                <br>
                                <span>R$119,90</span>
                            </div>
                            <div>
                                <img src="/img/mousesml3.jpg" alt="">
                                <br>
                                <span>R$119,90</span>
                            </div>
                            <div>
                                <img src="/img/mousesml4.jpg" alt="">
                                <br>
                                <span>R$119,90</span>
                            </div>
                            <div>
                                <img src="/img/mousesml5.jpg" alt="">
                                <br>
                                <span>R$119,90</span>
                            </div>
                            <div>
                                <img src="/img/mousesml6.jpg" alt="">
                                <br>
                                <span>R$119,90</span>
                            </div>
                            <div>
                                <img src="/img/mousesml7.jpg" alt="">
                                <br>
                                <span>R$119,90</span>
                            </div>
                            <div>
                                <img src="/img/mousesml8.jpg" alt="">
                                <br>
                                <span>R$119,90</span>
                            </div>
                        </div>
                        <button><img src="/img/seta2.svg" alt=""></button>
                    </div>
                </div> -->
            </div>
            <div class="calcula-frete">
                <p>Consultar frete e prazo de entrega</p>
                <br>
                <input type="text" placeholder="Inserir CEP">
                <button>OK</button>
                <a target="_blank" href="https://buscacepinter.correios.com.br/app/endereco/index.php?t">Não lembro meu
                    CEP</a>
            </div>
        </section>

        <section class="descricao" id="descricao">
            <dl class="descricao-produtos active">
                <dt class="active">
                    <h2><img src="/img/iconeresumo.svg" alt="">Descrição do Produto</h2><img class="indicador-acc1"
                        src="/img/iconesetabaixo.svg" alt="">
                </dt>
                <dd class="active">
                    <h3><%= produto.nome %></h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit ad vitae deserunt similique officiis corrupti, quod amet aut fugiat iste assumenda veniam quas architecto quis quaerat animi aliquid totam velit.</p>
                </dd>
            </dl>
        </section>

        <!-- <section class="info-tecnica" id="info-tecnica">
            <dl class="info-tecnica-produto">
                <dt>
                    <h2><img src="/img/iconeespec.svg" alt="">Informações Técnicas</h2><img class="indicador-acc2"
                        src="/img/iconesetabaixo.svg" alt="">
                </dt>
                <dd>
                    <p><b>Características:</b><br>
                        <br>
                        - Marca: Redragon <br>
                        - Modelo: M711 V2 <br>
                        <br>
                        <b>Especificações:</b><br>
                        <br>
                        - Sensor PIXART 3327 para Alta Performance (12400DPI/20G/100ips) (óptico)<br>
                        - Iluminação RGB Ajustável: Sistema de Iluminação Chroma RGB! (7 Diferentes Modos de
                        Iluminação)<br>
                        <! Polling Rate de 1000hz (Tempo de Resposta Ajustável via Software de 1/2/4/8ms)<br>
                        - 7 Botões Programáveis<br>
                        - Comprimento: 1.8 metros<br>
                        - Cabo de fibra trançada<br>
                        - 2 Botões Laterais para funções / atalhos, macros e etc<br>
                        - Compatível com Software para Configuração de Macro / Ajuste Iluminação RGB / Configurações de
                        Performance<br>
                        - Memória Interna para Salvamento de Configurações<br>
                        - Base com Pés de Teflon para Deslize Suave<br>
                        - 5 Perfis de Configurações para Troca Rápida de Configurações de um Game para Outro<br>
                        - Pegada Ergonômica confortável perfeita para Destros<br>
                        - Cabo Trançado para maior Resistência<br> -->
                        <!-- <br>
                        <b>Conteúdo da Embalagem:</b><br>
                        <br>
                        - Mouse Gamer Redragon Cobra Preto RGB M711 V2<br>
                        <br>

                        <b>Garantia:</b><br>
                        <br>
                        1 ano de garantia (9 meses de garantia contratual junto ao fabricante + 3 meses referentes à
                        garantia legal,
                        nos termos do artigo 26, II, do Código de Defesa do Consumidor)

                        Peso:
                        250 gramas (bruto com embalagem)
                </dd>
            </dl>
        </section> -->

        <section class="avaliacao" id="avaliacao">
            <dl class="avaliacao-usuarios">
                <dt>
                    <h2><img src="/img/iconeavaliacao.svg" alt="">Avaliações dos Usuários</h2><img
                        class="indicador-acc3" src="/img/iconesetabaixo.svg" alt="">
                </dt>
                <dd>Lorem Ipsum</dd>
            </dl>
        </section>

        <section class="faq-produto" id="faq-produto">
            <dl class="perguntas-respostas">
                <dt>
                    <h2><img src="/img/iconefaq.svg" alt="">Perguntas e Respostas</h2><img class="indicador-acc4"
                        src="/img/iconesetabaixo.svg" alt="">
                </dt>
                <dd>Lorem Ipsum</dd>
            </dl>
        </section>

        <section class="modal-container" data-modal="container">
            <div class="modal">
                <h2>FORMAS DE PAGAMENTO</h2>
                <button data-modal="fechar" class="fechar">X</button>
                <div class="botoes-modal">
                    <button type="button" id="cartao" class="ativo">Cartão de Crédito</button>
                    <button type="button" id="pix">PIX</button>
                    <button type="button" id="boleto">Boleto Bancário</button>
                </div>
                <div type="content" class="modal-op-pagamento-cartao ativo">
                    <div>
                        <p>À vista - Até 10% de desconto</p><span>Total: R$ xxx,xx</span>
                    </div>
                    <div>
                        <p>2x sem juros de R$ xxx,xx</p><span>Total: R$ xxx,xx</span>
                    </div>
                    <div>
                        <p>3x sem juros de R$ xxx,xx</p><span>Total: R$ xxx,xx</span>
                    </div>
                    <div>
                        <p>4x sem juros de R$ xxx,xx</p><span>Total: R$ xxx,xx</span>
                    </div>
                </div>
                <div type="content" class="modal-op-pagamento-pix">
                    <span>R$ xxx,xx</span>
                    <p>Pague com o PIX e priorizamos o despacho em 1 hora!</p>
                </div>
                <div type="content" class="modal-op-pagamento-boleto">
                    <span>R$ xxx,xx</span>
                    <p>O prazo de pagamento via boleto bancário é de 2 dias corridos.</p>
                </div>
            </div>
        </section>

        <section id="mini-banner">
            <div class="banners-org">
                <div class="estrutura-cards">
                    <div class="card-mini-banner">
                        <div>
                            <p>OFERTA ESPECIAL DE CONSOLE PS5</p>
                            <p>34% OFF</p>
                        </div>
                        <img src="/img/mini-1.png">
                    </div>
                </div>
                <div class="estrutura-cards">
                    <div class="card-mini-banner">
                        <div>
                            <p>MONITOR GAMER COM</p>
                            <p>40% OFF</p>
                        </div>
                        <img src="/img/mini-2.png">
                    </div>
                </div>

            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>
    <script type="text/javascript" src="/js/produto.js"></script>

</body>

</html>